server {
    listen 8080 default_server;
    listen [::]:8080 default_server;

    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;

    server_name _;

    location ~* \.(js|jpg|png|css)$ {
        root /var/www/qpa;
    }

    location / {
        proxy_pass http://localhost:5000/;
    }
}
